<?php
	$errors = $block->getErrors();
	if (!empty($errors)) {
		echo "<div style=\"color:red\">Please check your input:<br>".implode($errors,"<br>")."</div>";
	}
?>
<form class="form" action="result" method="post">
		<div>
        <span>Your name:</span>
        <input type="text" name="name" style="width:200px">
    </div>
    
    <div>
        <span>Your email:</span>
        <input type="text" name="emails" style="width:200px">
    </div>
    <div>
        <span>Any comment for our store admin</span>
        <textarea name="cmt" rows="4" cols="30"></textarea>
    </div>
    <div>
        <span>Would you recommend our store to someone?</span>
        <input type="checkbox" name="recommend">
    </div>
    <div>
        <span>What is our best product?</span>
        <select name="best" style="width:300px">
				<?php
					$productCollection = $block->getProducts();
					foreach ($productCollection as $product) {
						echo "<option value=\"".$product->getName()."\">".$product->getName()."</option>";
					}
				?>
        </select>
    </div>
    <div>
        <input type="submit" name="submit" value="Submit your answer">
    </div>
</form>
